body {
  font-family: tahoma, sans-serif;
  background-color: #a6aaad;
  padding: 30px;
}

h1 {
  color: #222;
}

h2 {
  color: #444;
  margin-top: 30px;
}

p {
  color: #555;
  line-height: 1.6;
}

ul {
  margin-top: 10px;
}

li {
  color: #333;
}
.container {
  max-width: 800px;
  margin: 0 auto;
  background-color: #dbdbdb;
  padding: 30px;
  border-radius: 8px;
}
nav {
  background-color: #720101;
  padding: 15px;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 90px;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.nav-list a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
@media (max-width: 600px) {
  .nav-list {
    flex-direction: column;
    align-items: center;
  }

  .container {
    padding: 20px;
  }
}
.cta-button {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 20px;
  background-color: #2e0101;
  color: #ec0000;
  text-decoration: none;
  border-radius: 5px;
}
